<header>
    <nav>
        <ul class="navbar">
            <li class="options">
                <%= link_to "Logo", root_path %>
            </li>

            <li class="options">
                <%= link_to "Home", root_path %>
            </li>
        </ul>
    </nav>

</header>