<div class="img">
 <%= image_tag "49B5179-1024x683.jpg" %>
</div>

<div class="about">
<h2>Information</h2>
<p><strong>Name: Adiel Adrian Cruz Valverde</p>
<p><strong>Description: </p>
</div>
 