<h1>Projects</h1>

<%= image_tag "what-is-github.png"%>

<%# <div class="container">
    <div class="item">Pokedex</div>
    <div class="item">Ahorcado</div>
    <div class="item">Listas</div>
    <div class="item">h</div>
    <div class="item">h</div>
    <div class="item">h</div>
    <div class="item">h</div>
    <div class="item">h</div>
    <div class="item">h</div>
    <div class="item">h</div>
   
</div> %>